
// Style for success page

@import 'styles/_variables.scss';

.paragraph-first {
    color: grey;
    font-size: 18px;
}

.paragraph-second {
    color: #9D9D9D;
    font-size: 14px;
}

.button-text {
    color: white;
}
