{
  "env": {
    "es6": true
  },
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "plugins": [
    "import"
  ],
  "root": true,
  "rules": {
    "array-bracket-newline": [
      "error",
      {
        "minItems": 2,
      }
    ],
    "array-element-newline": [
      "error",
      {
        "minItems": 2,
      }
    ],
    "arrow-parens": [
      "error",
      "always"
    ],
    "curly": [
      "error",
      "all"
    ],
    "eol-last": [
      "error",
      "always"
    ],
    "function-paren-newline": [
      "error",
      "consistent"
    ],
    "import/exports-last": "error",
    "import/extensions": [
      "error",
      {
        "js": "never",
        "jsx": "never"
      }
    ],
    // "import/group-exports": "error", // pending release: benmosher/eslint-plugin-import#1031
    "import/no-deprecated": "error",
    "import/no-extraneous-dependencies": "warn",
    "import/no-unresolved": "off",
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ],
        "newlines-between": "always"
        // "sort": "alphabetical" // PR pending: benmosher/eslint-plugin-import#629
      }
    ],
    "indent": [
      "error",
      4,
      {
        "SwitchCase": 1
      }
    ],
    "jsx-a11y/anchor-is-valid": [
      "error", {
        "components": [
          "GeminiLink",
          "Link"
        ],
        "specialLink": [
          "path",
          "to"
        ]
      }
    ],
    "no-case-declarations": "off",
    "no-multi-assign": "off",
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "no-plusplus": "off",
    "no-underscore-dangling": "off",
    "no-unused-expressions": [
      "error",
      {
        "allowShortCircuit": true
      }
    ],
    "object-curly-newline": [
      "error",
      {
        "consistent": true,
        "minProperties": 2
      }
    ],
    "object-property-newline": [
      "error",
      {
        "allowMultiplePropertiesPerLine": false
      }
    ],
    "quotes": [
      "error",
      "single",
      {
        "allowTemplateLiterals": true
      }
    ],
    "react/prop-types": [
      "error",
      {
        "ignore": [
          "children",
          "className"
        ]
      }
    ],
    "react/require-default-props": [
      "error", {
        "ignore": [
          "children",
          "className"
        ]
      }
    ],
    "react/jsx-indent": [
      "error",
      4
    ],
    "react/jsx-indent-props": [
      "error",
      4
    ],
    "sort-keys": [
      "error",
      "asc",
      {
        "caseSensitive": false,
        "natural": true // 10 comes after 3
      }
    ],
    "valid-jsdoc": [
      "error", {
        "prefer": {
          "arg": "param",
          "argument": "param",
          "returns": "return",
        },
        "requireParamDescription": true
      }
    ]
  },
  "overrides": [
    {
      // for spec files
      "env": {
        "mocha": true,
      },
      "files": [
        "**/*.spec.js",
        "**/*.spec.jsx"
      ],
      "rules": {
        "func-names": "off",
        "no-unused-expressions": "off",
        "prefer-arrow-callback": [
          "error",
          "never"
        ]
      }
    }
  ],
  "settings": {
    "import/resolver": "webpack"
  }
}
