// Style for success page

//TODOD (GIVEA-298): Replace this with global variable
.p2p-allocation-success-from-to-paragraph {
    color: grey;
    font-size: 18px;
}

.p2p-allocation-success-paragraph {
    color: #9D9D9D;
    font-size: 14px;
}
