// ConfigurableHeader
// ===
//
// A configurable header for Community Join pages

@import 'styles/_variables.scss';


// Root Component
// ---
.c-configurable-header {
    position: relative; // for absolutely positioned avatar and filter div

    padding: $xlarge-unit*2 $xlarge-unit 0;

    // styles for dynamically set background-image
    background-color: $neutral-50;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    // darken background image
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background-color: rgba(0,0,0,0.14);
    }
}

// Title
//
.c-configurable-header__title {
    @include font-size($medium-font-sizes);

    position: relative; // Position above filter div

    margin-bottom: $unit*2;

    color: $neutral-30;
    font-weight: $font-weight-medium;
    text-align: center;
}
